<% if microposts.any? %>
  <ul class="list-unstyled mt-2">
    <% microposts.each do |micropost| %>
      <li class="d-flex">
        <img class="rounded me-2 mb-5" src="<%= gravatar_url(micropost.user, { size: 64 }) %>" alt="">
        <div>
          <div>
            <%= link_to micropost.user.name, user_path(micropost.user), class: "text-decoration-none" %> <span class="text-muted">posted at <%= micropost.created_at %></span>
          </div>
          <div>
            <p><%= micropost.content %></p>
          </div>
          <div>
            <% if current_user == micropost.user %>
              <%= button_to "Delete", micropost, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-sm' %>
            <% end %>
            <% if micropost.favorited_by?(current_user) %>
              <p>
                <%= link_to favorite_path(micropost.id), method: :delete do %>
                  ♥<%= micropost.favorites.count %> いいね
                <% end %>
              </p>
            <% else %>
              <p>
                <%= link_to micropost_favorites_path(micropost.id), method: :post do %>
                  ♡<%= micropost.favorites.count %> いいね
                <% end %>
              </p>
            <% end %>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
  <%== pagy_bootstrap_nav(@pagy) %>
<% end %>